.home-side-bar {
    background-color: var(--main-color-blue);
    color: white;
    border-top-right-radius: 80px;
}
.home-side-bar p {
    margin: 25px 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.home-side-bar a {
    color: white;
    text-decoration: none;
}
