/** @format */

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--main-color-blue);
    border-left: 10px solid var(--main-color-blue);
    transition: 0.5s;
    overflow: hidden;
}
/* ==========Brand========== */
.brand {
    display: flex;
    align-items: center;
    column-gap: 26px;
}
.brand .toggle {
    display: none;
}
.brandLogo {
    width: 140px;
}
.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover:not(.brand),
.navigation ul li.hovered:not(.brand) {
    background-color: var(--grey-color);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--main-color-blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.navigation ul li:hover:not(.brand) a::before,
.navigation ul li.hovered:not(.brand) a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--grey-color);
    pointer-events: none;
}
.navigation ul li:hover:not(.brand) a::after,
.navigation ul li.hovered:not(.brand) a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--grey-color);
    pointer-events: none;
}
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
}

@media (max-width: 480px) {
 .brand .toggle {
        display: flex;
    }
  
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
}