/** @format */


.feature-section > h1 {
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}
.feature-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem 5rem;
    gap: 20px;
}
.feature-item {
    background-color: var(--grey-color);
    padding: 30px;
}
.feature-item h2 {
    margin: 20px 0;
}
.feature-item p {
    line-height: 30px;
}
@media screen and (max-width: 1000px) {
    .feature-item-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 2rem 2rem;
        gap: 20px;
    }
}
