.debtor-details{
    position: absolute;
    top: 20%;
    right: 20%;
    background-color: rgb(235, 231, 231);
    padding: 20px;
}
.debtor-view-more-close {
    cursor: pointer;
}
table.finance {
    position: relative;
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;
}
.finance th, 
.finance td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
.finance th {
  background-color: #f2f2f2;
}
table img {
  width: 50px;
  height: 50px;
}
.tableNameImage{
  display: flex;
  align-items: center;
  gap: 10px;
}
.tableNameImage img{
  border-radius: 50%;
}

@media screen and (max-width: 461px) {
    .debtor-details{
    position: absolute;
    top: 20%;
    right: 2%;
    background-color: rgb(235, 231, 231);
    padding: 20px;
}   
}